@import '../../public/styles/variables.scss';
@import '../../public/styles/displays.scss';

.resultProduct {
	flex: 1;
	width: 100%;
	@include flex(row, center, flex-start);
	cursor: pointer;
	> img {
		height: 180px;
		width: 180px;
		margin: $margin-s;
		border-radius: $border-radius-s;
	}
	> div {
		max-width: 320px;
		> div {
			@include flex(row, center, flex-start);
			margin-bottom: $margin-m;
			> h3 {
				@include flex(row, flex-start, flex-start);
				font-weight: $font-weight-normal;
				font-size: $font-size-l;
				margin-right: $margin-s;
				> span {
					font-size: $font-size-xxs;
					margin: 3.8px 0 0 3px;
				}
			}
			> img {
				height: 28px;
			}
		}
		> h4 {
			font-weight: $font-weight-normal;
			font-size: $font-size-m;
			margin: 0;
		}
	}
	> p {
		margin: 0 $column 0 auto;
		font-weight: $font-weight-light;
		font-size: $font-size-xxs;
	}
}
