@import '../../public/styles/variables.scss';
@import '../../public/styles/displays.scss';

.resultProduct {
	@include flex(row, flex-start, center);
	> img {
		height: 180px;
		width: 180px;
		margin: $margin-s;
		border-radius: $border-radius-s;
	}
	> div {
		> h3 {
			font-weight: $font-weight-normal;
			font-size: $font-size-l;
		}
		> h4 {
			font-weight: $font-weight-light;
			font-size: $font-size-m;
		}
	}
	> p {
		-weight: $font-weight-light;
		font-size: $font-size-xxs;
	}
}
