@import '../../public/styles/variables.scss';
@import '../../public/styles/displays.scss';

.tileItem {
	@include flex(column);
	height: 168px;
	width: 210px;
	box-shadow: 0px 0px 8px 0px #dddddd;
	background-color: white;
	border-radius: $border-radius-s;
	transition: all 0.25s ease-out;
	cursor: pointer;
	&:hover {
		box-shadow: 0px 0px 8px 0px lighten($color-grey-3, 10%);
	}
	> img {
		height: 64px;
	}
	> h5 {
		margin-top: $margin-s;
		font-size: $font-size-m;
	}
}

@media (max-width: $query-l) {
	.tileItem {
		height: 120px;
		width: calc(50% - #{$margin-s} / 2);
		margin-bottom: $margin-s;
		> img {
			height: 48px;
		}
		> h5 {
			font-size: $font-size-s;
		}
	}
}

@media (max-width: 274px) {
	.tileItem {
		height: 84px;
		width: 100%;
		> img {
			height: 36px;
		}
		> h5 {
			font-size: $font-size-xs;
		}
	}
}
