@import '../../public/styles/variables.scss';
@import '../../public/styles/displays.scss';

.loader {
	z-index: 1;
	@include flex();
	background-color: red;
	width: 100%;
	height: 100vh;
	> img {
		animation: rotate 2s infinite ease-in-out;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(15deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
