@import '../../public/styles/variables.scss';
@import '../../public/styles/displays.scss';

.layout {
	@include flex(column, center, flex-start);
	min-height: 100vh;
	overflow-x: hidden;
	background-color: transparent;
}
