@import '../../public/styles/variables.scss';
@import '../../public/styles/displays.scss';

.results {
	@include flex(column, center, flex-start);
	width: 100%;
	> .products {
		width: 100%;
		margin: 0 0 20px 0;
		@include flex(column, flex-start, flex-start);
		background-color: white;
		border-radius: $border-radius-s;
	}
}

.noResults {
	@include flex(column);
	height: 100%;
	flex: 1;
	> img {
		margin-bottom: $margin-m;
	}
	> div {
		@include flex(column, flex-start, center);
		> h3 {
			font-weight: $font-weight-bold;
		}
	}
}

.divider {
	align-self: center;
	height: 1px;
	width: calc(100% - #{$margin-s} * 2 * 1.25);
	margin: 0;
	padding: 0;
	border: none;
	background-color: $color-grey-4;
}

@media (max-width: $query-l) {
	.results {
		> .products {
			width: calc(100% - #{$query-l-padding} * 2);
			min-width: $min-width;
		}
	}

	.noResults {
		@include flex(column);
		height: 100%;
		flex: 1;
		> img {
			height: 160px;
			margin-bottom: 0;
		}
		> div {
			padding: $margin-m;
			> h3 {
				font-size: $font-size-l;
				font-weight: $font-weight-bold;
				margin-bottom: $margin-s;
			}
			> ul {
				padding-left: $margin-s;
				font-size: $font-size-s;
				list-style-type: disc;
			}
		}
	}
}
