@import '../public/styles/variables.scss';
@import '../public/styles/displays.scss';

.error {
	@include flex(column, center, center);
	> img {
		margin-top: 300px;
		margin-bottom: 30px;
	}
}

@media (max-height: 730px) {
	.error {
		> img {
			margin-top: 200px;
		}
	}
}

@media (max-height: 740px) {
	.error {
		> img {
			margin-top: 160px;
		}
	}
}

@media (max-height: 480px) {
	.error {
		> img {
			margin-top: 100px;
		}
	}
}
