@import '../public/styles/global.scss';
@import '../public/styles/variables.scss';
@import '../public/styles/displays.scss';
@import '../public/styles/fonts.scss';

.home {
	@include flex(column);
	width: 100%;
	margin-bottom: $margin-m;
	> img {
		width: 100%;
		margin-top: $margin-s;
		cursor: pointer;
	}
	> div {
		margin-top: $margin-m;
	}
	> div:nth-child(3) {
		margin-top: $margin-m;
	}
	> .tiles {
		@include flex(row, center, space-between, wrap);
		width: 100%;
	}
}

@media (max-width: $query-l) {
	.home {
		> img {
			width: calc(100% - #{$query-l-padding} * 2);
		}
		> div:nth-child(3) {
			margin-top: $margin-s;
		}
		> .tiles {
			width: calc(100% - #{$query-l-padding} * 2);
		}
	}
}

// @media (max-width: $query-m) {
// 	.home {
// 		> img,
// 		.tiles {
// 			padding: 0 $query-m-padding;
// 			height: auto;
// 		}
// 	}
// }

// @media (max-width: $query-s) {
// 	.home {
// 		> img {
// 			padding: 0;
// 			width: 170%;
// 			height: auto;
// 		}
// 	}
// }
