@import '../../public/styles/variables.scss';
@import '../../public/styles/displays.scss';

.imageProduct {
	@include flex();
	flex: 1 0 680px;
	width: 100%;
	margin: $margin-s $margin-s 0 $margin-s;
	> img {
		height: 680px;
		width: 680px;
		border-radius: $border-radius-s;
		object-fit: contain;
	}
}

@media (max-width: $query-l) {
	.imageProduct {
		padding: $margin-s $margin-s 0 $margin-s;
		margin: 0;
		> img {
			width: 100%;
			height: auto !important;
		}
	}
}
