@import '../../public/styles/variables.scss';
@import '../../public/styles/displays.scss';

.imageProduct {
	@include flex();
	flex: 1 0 680px;
	width: 100%;
	margin: $margin-s $margin-s 0 $margin-s;
	> img {
		height: 680px;
		width: 680px;
		border-radius: $border-radius-s;
		object-fit: contain;
	}
}

@media (max-width: $query-l) {
	.imageProduct {
		padding: 0 $margin-s !important;
		margin: $margin-s 0 !important;
		> img {
			width: 100%;
			height: auto !important;
			max-height: 680px !important;
		}
	}
}

@media (max-width: 530px) {
	.imageProduct {
		flex: 1 0 500px !important;
		> img {
			max-height: 500px !important;
		}
	}
}
